module "vpc" {
  source  = "{{ item_ans_tf_services.aws_vpc_module_source }}"
  version = "{{ item_ans_tf_services.aws_vpc_module_version }}"

  name = "{{ item_ans_tf_services.aws_vpc_name }}"

  cidr = "{{ item_ans_tf_services.aws_vpc_cidr }}"

  azs                 = [{{ item_ans_tf_services.aws_vpc_azs }}]
  private_subnets     = [{{ item_ans_tf_services.aws_vpc_private_subnets }}]
  public_subnets      = [{{ item_ans_tf_services.aws_vpc_public_subnets }}]

  create_database_subnet_group = false

  enable_nat_gateway 		= true
  enable_vpn_gateway 		= false

  enable_s3_endpoint 		= true
  enable_dynamodb_endpoint 	= true

  enable_dhcp_options 		= false

  tags = {
    Owner       = "{{ ans_aws_tag_owner }}"
    Environment = "{{ ans_aws_tag_environment }}"
  }
}
